#bot-main {
    width: 98vw;
    height: 100vh;
}

#bot-conf {
    width: 95vw;
    height: 15vh;
}
#bot-ctrl {
    width: 95vw;
    height: 8vh;
}

#bot-target {
    display: block;
    margin: auto;
    width: 95vw;
    height: 95vh;
}
