#bot-main {
    width: 98vw;
    height: 100vh;
}

#bot-conf {
    width: 95vw;
    height: 20vh;
}
#bot-ctrl {
    width: 95vw;
    height: 10vh;
}

#bot-target {
    display: block;
    margin: auto;
    width: 95vw;
    height: 75vh;
}
