#bot-main {
    width: 98vw;
}

#bot-conf {
    width: 95vw;
    height: 25vh;
}
#bot-ctrl {
    width: 95vw;
    height: 4vh;
}

#bot-target {
    display: block;
    margin: auto;
    width: 95vw;
    height: 69vh;
}
